# common
.git
.venv
.env
.claude
data
node_modules
build
dist
__pycache__

# api
api/images
api/results
api/uploads
api/models
api/app/utils/db.py

# frontend
frontend/assets
frontend/public
frontend/server
frontend/electron.env